{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        table {
            border-collapse: collapse;
            margin: 0 auto;
            font-family: Arial, sans-serif;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
            font-family: 'Open Sans', sans-serif;
        }

        tr:nth-child(1) > th {
            color: white;
        }

        table th, table td {
            padding: 30px;
        }

        table th {
            background-color: #485FC7;
        }

        .modal {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.5); /* Fond noir transparent */
            z-index: 9999;
        }

        .modal-content {
            background-color: white;
            padding: 20px;
            max-width: 500px;
        }

        .modal-close {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 20px;
            cursor: pointer;}
        .button-container {
            display: flex;
            justify-content: center;
            margin: 20px;
        }

        .fa-pencil-alt {
            color: black;
        }

        i {
            padding-right: 10px;
            padding-top: 3px;
        }

        i:hover {
            cursor: pointer;
        }
        .modal-content {
            background-color: white;
            padding: 20px;
            max-width: 500px;
            margin: 0 auto;
            position: absolute;
        }

    </style>
{% endblock %}

{% block body %}
    <section class="hero is-light is-half-mobile">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">
                    Liste des compétiteurs
                </h1>
            </div>
        </div>
    </section>

    <div class="button-container">
        <button class="button is-link is-outlined" id="add-competiteur-button">
        <span class="icon">
            <i class="fa-solid fa-plus"></i>
        </span>
            Ajouter compétiteur
        </button>
    </div>
    <div class="modal" id="add-competiteur-modal" style="display: none;" onclick="closeModal()">
        <div class="modal-content">
            <span class="modal-close" onclick="closeModal()">&times;</span>
            <form id="add-competiteur-form" method="post">
                <div class="field">
                    <label class="label" for="nom-competiteur">Nom :</label>
                    <div class="control">
                        <input class="input" type="text" id="nom-competiteur" name="nomCompetiteur" required>
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="prenom-competiteur">Prénom :</label>
                    <div class="control">
                        <input class="input" type="text" id="prenom-competiteur" name="prenomCompetiteur" required>
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="niveau-compet">Niveau :</label>
                    <div class="control">
                        <input class="input" type="number" id="niveau-compet" name="niveauCompet" required min="1" max="5">
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="num-licence">Numéro de licence :</label>
                    <div class="control">
                        <input class="input" type="text" id="num-licence" name="numLicence" required>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-primary">Ajouter</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <table class="table is-striped is-hoverable">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Niveau</th>
            <th>Numéro de licence</th>
            <th>Modifier</th>
            <th>Supprimer</th>
        </tr>
        </thead>
        <tbody>
        {% for competiteur in competiteurs %}
            <tr>
                {# <td>{{ competiteur.id_competiteur }}</td>#}
                <td>{{ competiteur.nom_competiteur }}</td>
                <td>{{ competiteur.prenom_competiteur }}</td>
                <td>{{ competiteur.niveau_compet }}</td>
                <td>{{ competiteur.num_licence }}</td>
                <td>
                    <a href="#" class="fas fa-pencil-alt" onclick="return confirm('Êtes-vous sûr de vouloir modifier ce compétiteur ?')"></a>
                </td>
                <td>
                    <span class="icon has-text-danger suppr-competiteur" data-target="#deleteModal-{{ competiteur.id_competiteur }}">
                            <i class="fas fa-trash-alt" data-id="{{ competiteur.id_competiteur }}"></i>
                        </span>
                    <div id="deleteModal-{{ competiteur.id_competiteur }}" class="modal">
                        <div class="modal-background"></div>
                        <div class="modal-content">
                            <header class="modal-card-head">
                                <p class="modal-card-title">Supprimer le compétiteur</p>
                                <button class="delete" aria-label="close"></button>
                            </header>
                            <section class="modal-card-body has-text-centered center-content">
                                <p>Êtes-vous sûr de vouloir supprimer ce compétiteur ?</p>
                                <br>
                                <form method="POST" action="{{ path('competiteur_delete', {'id': competiteur.id_competiteur }) }}">
                                    <input type="hidden" name="_method">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ competiteur.id_competiteur) }}">
                                    <button class="button is-danger">Supprimer</button>
                                    <button class="button">Annuler</button>
                                </form>
                            </section>

                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
  {% block javascripts %}
      <script>
          // Fonction pour ouvrir la popup modale
          function openModal() {
              const modal = document.getElementById('add-competiteur-modal');
              modal.style.display = 'flex';
          }

          // Fonction pour fermer la popup modale
          function closeModal() {
              const modal = document.getElementById('add-competiteur-modal');
              modal.style.display = 'none';
          }

          const modalContent = document.querySelector('.modal-content');

          modalContent.addEventListener('click', (event) => {
              event.stopPropagation();
          });

          const modal = document.getElementById('add-competiteur-modal');

          modal.addEventListener('click', (event) => {
              const target = event.target;
              if (target === modal) {
                  closeModal();
              }
          });

          const addButton = document.getElementById('add-competiteur-button');

          addButton.addEventListener('click', (event) => {
              event.preventDefault(); // Pour empêcher le rechargement de la page
              openModal();
          });

          const deleteIcons = document.getElementsByClassName('fa-trash-alt');

          Array.from(deleteIcons).forEach((icon) => {
              icon.addEventListener('click', (event) => {
                  event.stopPropagation();
                  const id = icon.getAttribute('data-id');
                  const deleteModal = document.getElementById(`deleteModal-${id}`);
                  deleteModal.style.display = 'flex';
              });
          });

          const deleteModals = document.getElementsByClassName('modal');

          Array.from(deleteModals).forEach((modal) => {
              modal.addEventListener('click', (event) => {
                  const target = event.target;
                  if (target.classList.contains('modal-background') || target.classList.contains('delete')) {
                      modal.style.display = 'none';
                  }
              });
          });
      </script>
  {% endblock %}
