{% extends 'base.html.twig' %}

{% block title %}Juges{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <h1 class="title">Liste des juges</h1>
            <table class="table is-fullwidth is-hoverable is-striped">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Code QR</th>
                </tr>
                </thead>
                <tbody>
                {% for juge in jsonData.judges %}
                    <tr>
                        <td>{{ juge.name }}</td>
                        <td>{{ juge.surname }}</td>
                        <td>
                            <button id="qrcode-button-{{ juge.id }}" data-target="modal-{{ juge.id }}">Afficher le code QR</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    {% for juge in jsonData.judges %}
        <div class="modal" id="modal-{{ juge.id }}">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box">
                    <canvas id="qrcode-{{ juge.id }}" width="300" height="300"></canvas>
                </div>
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
        </div>
    {% endfor %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            {% for juge in jsonData.judges %}
            // Recup les donnees du juge depuis le Json et les convertir en chaine json
            var qrCodeData{{ juge.id }} = JSON.stringify({
                "judges": {{ jsonData.judges | json_encode | raw }},
                "riders": {{ jsonData.riders | json_encode | raw }},
                "levels": {{ jsonData.levels | json_encode | raw }},
                "obstacles": {{ jsonData.obstacles | json_encode | raw }},
                "competitions": {{ jsonData.competitions | json_encode | raw }},
                "competition_obstacles": {{ jsonData.competition_obstacles | json_encode | raw }}
            });

            // Recup les élements du DOM
            let qrCodeCanvas{{ juge.id }} = document.getElementById('qrcode-{{ juge.id }}');
            let qrCodeButton{{ juge.id }} = document.getElementById('qrcode-button-{{ juge.id }}');
            let modal{{ juge.id }} = document.getElementById('modal-{{ juge.id }}');

            // Ecouteur pour afficher le code qr
            qrCodeButton{{ juge.id }}.addEventListener('click', function() {
                modal{{ juge.id }}.classList.add('is-active');
            });
            // Ecouteur pour fermer modal
            modal{{ juge.id }}.addEventListener('click', function(event) {
                if (event.target.classList.contains('modal-background') || event.target.classList.contains('modal-close')) {
                    modal{{ juge.id }}.classList.remove('is-active');
                }
            });
            // Genere le code qr
            generateQrCode(qrCodeData{{ juge.id }}, qrCodeCanvas{{ juge.id }});
            {% endfor %}

            function generateQrCode(data, canvas) {
                let qr = new QRious({
                    element: canvas,
                    size: 300,
                    value: data
                });
            }
        });
    </script>
{% endblock %}
