{% extends 'base.html.twig' %}

{% block title %}Juges{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <h1 class="title">Liste des juges</h1>
            <table class="table is-fullwidth is-hoverable is-striped">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Code QR</th>
                </tr>
                </thead>
                <tbody>
                {% for juge in juges %}
                    <tr>
                        <td>{{ juge.getNomJuge() }}</td>
                        <td>{{ juge.getPrenomJuge() }}</td>
                        <td>
                            <button id="qrcode-button-{{ juge.getId() }}" data-target="modal-{{ juge.getId() }}">Afficher le code QR</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    {% for juge in juges %}
        <div class="modal" id="modal-{{ juge.getId() }}">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box">
                    <!--condition 1er juge -->
                    {% if loop.index == 1 %}
                        <img src="{{ asset('assets/img/Juge1.png') }}" alt="Code QR" width="300" height="300">
                    {% elseif loop.index == 2 %}
                        <img src="{{ asset('assets/img/Juge2.png') }}" alt="Code QR" width="300" height="300">
                    {% endif %}
                </div>
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
        </div>
    {% endfor %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            {% for juge in juges %}
            <!-- je sélectionne le bouton du qr code pour le juge  -->
            let qrCodeButton{{ juge.getId() }} = document.getElementById('qrcode-button-{{ juge.getId() }}');
            let modal{{ juge.getId() }} = document.getElementById('modal-{{ juge.getId() }}');
            <!-- j'ajte un écouteur pour le clic sur le bouton -->
            qrCodeButton{{ juge.getId() }}.addEventListener('click', function() {
                modal{{ juge.getId() }}.classList.add('is-active');
            });
            <!-- j'ajte un écouteur pour le clic sur le modal -->
            modal{{ juge.getId() }}.addEventListener('click', function(event) {
                if (event.target.classList.contains('modal-background') || event.target.classList.contains('modal-close')) {
                    modal{{ juge.getId() }}.classList.remove('is-active');
                }
            });
            {% endfor %}
        });
    </script>
{% endblock %}
