{% extends 'base.html.twig' %}

{% block title %} Compétition {% endblock %}
{% block body %}

<section class="section">
    <div class="container">
        <h1 class="title">Tableau des compétitions</h1>
        <button class="button is-link is-outlined ajoutCompet" onclick="ajoutCompet()"> <span class="icon"> <i class="fa-solid fa-plus"></i> </span>Ajouter une compétition</button>
        <!-- Ajout de la popup -->
        <div id="popupForm" class="modal">
            <div class="modal-background" onclick="closeForm()"></div>
            <div class="modal-content">
                <!-- contenu du formulaire pour ajouter une compétition  -->
                <form class="box" method="post">
                    <h2 class="title">Ajouter une compétition</h2>
                    <div class="field">
                        <label class="label">Nom de la compétition</label>
                        <div class="control">
                            <input class="input" type="text" name="nomCompet" placeholder="Nom de la compétition">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Adresse</label>
                        <div class="control">
                            <input class="input" type="text" name="adresse" placeholder="Adresse">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Code postal</label>
                        <div class="control">
                            <input class="input" type="text" name="codePostal" placeholder="Code postal">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Ville</label>
                        <div class="control">
                            <input class="input" type="text" name="ville" placeholder="Ville">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Début de la compétition </label>
                        <div class="control">
                            <input class="input" type="date" name="debutCompet">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Fin de la compétition</label>
                        <div class="control">
                            <input class="input" type="date" name="finCompet">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Nombre d'épreuves</label>
                        <div class="control">
                            <input class="input" type="Number" name="nbEpreuves" placeholder="Nombre d'épreuves">
                        </div>
                    </div>

                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-success" type="submit">Ajouter</button>
                        </div>
                        <div class="control">
                            <button class="button is-link is-danger is-light" type="button" onclick="closeForm()">Annuler</button>
                        </div>
                    </div>
                </form>
            </div>
            <button class="modal-close is-large" aria-label="close" onclick="closeForm()"></button>
        </div>

        {#      si on a des compétitions, on affiche le tableau et le bouton supprimer#}
        {% if competitions| length > 0 %}

        <button class="button is-link is-danger" onclick="openDeleteForm()"> Supprimer une compétition</button>
        <div id="deleteCompetitionForm" class="modal">
            <div class="modal-background" onclick="closeForm()"></div>
            <div class="modal-content">
                <form id="deleteCompetitionForm" class="box" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer les compétitions sélectionnées ?');">
                    <h2 class="title">Supprimer des compétitions</h2>
                    <div class="field">
                        <label class="label">Sélectionnez les compétitions à supprimer :</label>
                        <div class="control">
                            {% for competition in competitions %}
                                <label class="checkbox">
                                    <input type="checkbox" name="competitionsSuppr[]" value="{{ competition.getId }}">
                                    {{ competition.getNomCompet }}
                                </label><br>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <button id="btnSupprimer" class="button is-danger" type="submit">Supprimer</button>
                        </div>
                        <div class="control">
                            <button class="button is-link is-light" type="button" onclick="closeForm()">Annuler</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Fin de la popup -->

        <table id="tab" class="table is-striped is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>Nom de la compétition</th>
                    <th>Adresse</th>
                    <th>Code postal</th>
                    <th>Ville</th>
                    <th>Début de la compétition</th>
                    <th>Fin de la compétition</th>
                    <th>Nombre d'épreuves</th>

                </tr>
            </thead>
            <tbody>
                    {% for competition in competitions %}
                    <tr>
                        <td>{{ competition.getNomCompet }}</td>
                        <td>{{ competition.getadrCompet }}</td>
                        <td>{{ competition.getCpCompet }}</td>
                        <td>{{ competition.getvilleCompet }}</td>
                        <td>{{ competition.getDebutCompet|date('d/m/Y') }}</td>
                        <td>{{ competition.getFinCompet|date('d/m/Y') }}</td>
                        <td>{{ competition.getNbEpreuves }}</td>
{#                        <td> {{ competition.nom_juge }} {{ competition.prenom_juge }}</td>#}

                    </tr>
            {% endfor %}
            </tbody>

        </table>
        {% else %}
{#              sinon pas de tableau #}
            <div class="content">
                <div class="column">
                    <div class="columns is-centered">
                        <h3> Pas de compétition </h3>
                    </div>
                </div>
        {% endif %}


    </div>
    </div>
</section>


    <style>
        table {
            border-collapse: collapse;
            margin: 0 auto;
            font-family: Arial, sans-serif;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
            font-family: 'Open Sans', sans-serif;
        }

        tr:nth-child(1) > th {
            color: white;
        }

        table th, table td {
            border: 1px solid black;
            padding: 30px;
        }

        table th {
            background-color: #485FC7;
            /*color: white;*/
        }

        tr:hover {
            background-color: #e0e0e0;
        }

        button {
            margin-bottom: 15px;
            width: 220px;
        }

        .fa-plus {
            margin-right: 17px;
        }

        .modal {
            display: none;
        }

        .modal.is-active {
            display: flex;
        }

    </style>

    {% block javascripts %}
        <script>
            function ajoutCompet() {
                document.getElementById("popupForm").classList.add("is-active");
            }

            function closeForm() {
                document.getElementById("popupForm").classList.remove("is-active");
                document.getElementById("deleteCompetitionForm").classList.remove("is-active");
            }

//             function openDeleteForm() {
//                 document.getElementById("deleteCompetitionForm").classList.add("is-active");
//                 // Ajouter du code pour récupérer la ligne du tableau à supprimer
//                 // var table = document.getElementById('tab'); // Remplacez 'votreTableau' par l'identifiant de votre tableau
//                 // var rowIndex = 1; // Indice de la ligne à supprimer (commence généralement à 1)
//                 // var row = table.rows[rowIndex];
//                 //
//                 // // Ajouter un gestionnaire d'événement au bouton de confirmation de suppression
//                 // var deleteBtn = document.getElementById("btnSupprimer");
//                 // deleteBtn.addEventListener('click', function() {
//                 //     // Code de suppression de la ligne du tableau
//                 //     row.parentNode.removeChild(row);
//                 // });
//
//                 var table = document.getElementById('tab'); // Remplacez 'votreTableau' par l'identifiant de votre tableau
//
// // Identifier la ligne à supprimer
//                 var rowIndex = 1; // Indice de la ligne à supprimer (commence généralement à 1)
//                 var row = table.rows[rowIndex];
//
// // Supprimer la ligne
//                 table.deleteRow(rowIndex);
//             }
            function openDeleteForm() {
                document.getElementById("deleteCompetitionForm").classList.add("is-active");

                // Récupérer les éléments cochés
                var checkboxes = document.querySelectorAll('input[name="competitionsSuppr[]"]:checked');
                var competitionsIds = Array.from(checkboxes).map(function(checkbox) {
                    return checkbox.value;
                });

                // Envoyer les données au serveur pour suppression
                if (competitionsIds.length > 0) {
                    // Envoyer les données via une requête HTTP (par exemple, une requête AJAX)
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', '/supprimer-competitions', true);
                    xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
                    xhr.onload = function() {
                        if (xhr.status === 200) {
                            // Succès : recharger la page pour voir les compétitions supprimées
                            location.reload();
                        } else {
                            // Erreur : afficher un message d'erreur
                            console.error('Erreur lors de la suppression des compétitions.');
                        }
                    };
                    xhr.onerror = function() {
                        // Erreur : afficher un message d'erreur
                        console.error('Erreur lors de la suppression des compétitions.');
                    };
                    xhr.send(JSON.stringify({ competitionsIds: competitionsIds }));
                } else {
                    // Aucune compétition sélectionnée : afficher un message d'erreur
                    console.error('Aucune compétition sélectionnée.');
                }
            }


            function supprimerLigne() {
                var options = document.querySelectorAll('input[type="checkbox"]:checked');
            }
        </script>
        {% endblock %}

{% endblock %}
