{% extends 'base.html.twig' %}

{% block menu %}{% endblock %}
{% block title %} Compétition {% endblock %}
{% block body %}

<section class="section">
    <div class="container">
        <h1 class="title">Tableau des compétitions</h1>
        <table class="table is-bordered is-striped is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>Nom de la compétition</th>
                    <th>Ville</th>
                    <th>Adresse</th>
                    <th>Code postal</th>
                    <th>Nombre de compétiteurs</th>
                    <th>Début de la compétition</th>
                    <th>Fin de la compétition</th>
                    <th>Nombre d'épreuves</th>
                </tr>
            </thead>
            <tbody>
                {% for competition in competitions %}
                    <tr>
                        <td>{{ competition.nom }}</td>
                        <td>{{ competition.adresse }}</td>
                        <td>{{ competition.code_postal }}</td>
                        <td>{{ competition.ville }}</td>
                        <td>{{ competition.nombre_competiteurs }}</td>
                        <td>{{ competition.debut|date('d/m/Y') }}</td>
                        <td>{{ competition.fin|date('d/m/Y') }}</td>
                        <td>{{ competition.nombre_epreuves }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% endblock %}
