{% extends 'base.html.twig' %}

{% block title %}Classement {% endblock %}

{% block body %}

<section class="section">
    <div class="container">
        <h1 class="title">Tableau de classement </h1>
        <div class="select">

            <select id="competition-select">
                {% for competition in competitions %}
                    <option value="{{ competition.id_competition }}" {% if competition.id_competition == 1 %}selected="selected"{% endif %}> {{ competition.nom_competition }}</option>
                {% endfor %}
            </select>

        </div>
        <table class="table is-fullwidth is-hoverable">
            <thead>
            <tr>
                <th>Position</th>
                <th>Compétiteur</th>
                <th>Score</th>
            </tr>
            </thead>
            <tbody>
            {% if competiteurs %}
            {% for key, competiteur in competiteurs %}
            <tr class="competitor-row" data-competition-id="{{ competiteur.id_competition }}">
                    <td>{{ key + 1 }}</td>
                    <td>{{ competiteur.nom_competiteur }} {{ competiteur.prenom_competiteur }}</td>
                    <td>{{ competiteur.notes_competiteur }}</td>
                </tr>
            {% endfor %}

            {% else %}
                <h1> Pas de classement établi </h1>
            {% endif %}


            </tbody>
        </table>

    </div>

    {% block javascripts %}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const competitionSelect = document.getElementById('competition-select');
                const competitorRows = document.querySelectorAll('.competitor-row');

                competitionSelect.addEventListener('change', function() {
                    const selectedCompetitionId = this.value;

                    competitorRows.forEach(row => {
                        const competitionId = row.getAttribute('data-competition-id');

                        if (selectedCompetitionId === competitionId) {
                            row.style.display = 'table-row';
                        } else {
                            row.style.display = 'none';
                        }
                    });
                });
            });
        </script>
    {% endblock %}
</section>
{% endblock %}
